body, .modal-content {
  background-color: #e6e8fa;
}

.modal-title {
  text-align: center;
  font-weight: bold;
}

.header {
  color: #e6e8fa;
  text-align: center;
}

h1 {
  margin-bottom: 0;
  font-size: 4em;
  font-family: 'Abril Fatface', cursive;
}

h2 {
  margin-top: 0;
  font-size: 3em;
  font-family: 'Dancing Script', cursive;
}

h3 {
  margin-top: 0;
}

.logo {
  max-height: 20vh;
  border: solid red;
  margin: 5px 15px;
}

#usMap {
  height: 600px;
}

#alaskaMap {
  height: 360px;
}

#hawaiiMap {
  height: 220px;
}

.maps {
  border: solid 0.5em black;
}

.list {
  font-size: 1.5em;
  margin-left: 20px;
}
